@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;1,300&family=Orbitron:wght@400;500;600;700;800;900&display=swap') ;


.containerFeedback {
  border: 4px rgb(150, 152, 178) solid;
  border-radius: 10px;
  color: white;
  font-family: Orbitron , sans-serif;
  font-size: 35px;
  margin: 600px auto;
  padding: 25px;
  text-align: center;
  width: 600px;
}

body {
  background-image: url('/public/fundoQuestions.png');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  margin: 20px;
  padding: 20px;
}
