.red {
  border: 3px solid red;
  margin: 8px;
  padding: 20px;
}

.green {
  border: 3px solid rgb(6, 240, 15);
  margin: 8px;
  padding: 20px;
}

.normal {
  margin: 8px;
  padding: 20px;
}

/* // Requisito 7: Aline, Raphael, Carlos, Jéssica, Luiz; */
